body {
  background-color: #fff;
}

nav {
  margin-top: 18px;
}
nav ul li.active {
  border-bottom: dashed 1px #00a4ff3b;
}

nav ul li a:link,
nav ul li a:visited,
nav ul li a:active {
  color: #007bbd;
  text-decoration: none;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a:hover {
  color: #0187ce;
  text-decoration: none;
  cursor: pointer;
}

header {
  position: relative;
}

.sticky-zebra {
  width: 50%;
  background-image: url('images/zebra-pattern.jpg');
  height: 9px;
  background-repeat: repeat;
  background-size: contain;
  position: absolute;
  top: 0px;
  left: 25vw;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.pad-top-header {
  padding-top: 60px;
}

header h1 {
  font-family: 'SansExtraLight';
  font-size: 39px;
  background-image: url('images/gallery-header-image.jpg');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position-y: 0px;
  padding-left: 8px;
  padding-top: 10px;
}

.header-image {
  position: absolute;
}

.shift-left {
  position: relative;
  right: 2px;
}

.band-member-section {
  height: 500px;
  display: flex;
  align-items: end;
}

.band-introduction {
  width: 900px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.band-member-image {
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  display: inline-block;
  opacity: 0.94;
  transition: opacity 0.3s;
}

.member-1{
  background-image: url('images/desktop-2.jpg');
}

.member-2{
  background-image: url('images/desktop-6.jpg');
}

.member-3{
  background-image: url('images/desktop-5.jpg');
}

.member-4{
  background-image: url('images/desktop-3.jpg');
}

.member-5{
  background-image: url('images/desktop-4.jpg');
}



.band-member-image:hover{
  opacity: 1;
}

.band-member-divider {
  width: 100%;
  height: 1px;
  border-top: dashed 1px #0187ce26;
  margin: 60px auto;
}

.band-member-intro {
  display: inline-block;
  width: 350px;
  margin: 0px 0px 3px 10px;
  color: #504c66;
  font-size: 20px;
  font-family: 'SansLight'
  
}

.font-large{
  font-size: 30px;
}


@media screen and (max-width:800px) {
  header h1 {
    font-size: 30px;
  }

  .sticky-zebra {
    width: 60%;
    left: 20vw;
  }
}

.mobile-separator {
  display: none;
}

@media screen and (max-width: 880px) {
  .band-member-section{
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }

  .mobile-separator {
    display: block;
    width: 100%;
  }

  .band-member-image {
    width: 320px;
    height: 320px;
  }

  .band-member-intro{
    width: 320px;
    margin-top:10px;
  }

  .band-member-divider{
    margin: 30px auto;
  }

  .band-introduction{
    width: 100%;
  }

  .band-member-image{
    opacity: 1;
  }

}



footer {
  border-top: 1px solid #dfe0e978;
}

